# Mastodon Account

APPLICATION_ID_MASTODON=
SECRET_MASTODON=
ACCESS_TOKEN_MASTODON=
MASTODON_INSTANCE=

# Bluesky Account
BLUESKY_PRINCIPAL_NAME=
BLUESKY_PRINCIPAL_API_KEY=

# Twitter Account
TWITTER_BEARER_TOKEN=
TWITTER_PRIMARY_CUSTOMER_2_KEY=
TWITTER_PRIMARY_CUSTOMER_2_SECRET_KEY=

TWITTER_PRIMARY_API_KEY=
TWITTER_PRIMARY_API_SECRET_KEY=
TWITTER_PRIMARY_ACCESS_TOKEN=
TWITTER_PRIMARY_ACCESS_TOKEN_SECRET=
